.select_img {
  float: left;
  position: relative;
  max-width: 350px;
  height: auto;
  padding: 20px;
  border: 1px solid #000;
}

.description_photo h1 {
  position: relative;
}

.gallery_img {
  max-width: 100px;
  max-height: auto;
  padding: 10px;
  border: 1px solid #000;
  margin: 20px;
}
