.product_item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 11fr;
}

.product_item_img {
  max-height: 100px;
  width: auto;
  padding-top: 10px;
  padding-left: 5px;
}

.info_about_phone {
  margin: 20px 0px 0px 20px;
}

.product_item_name {
  font-size: 14px;
}

.product_item_name a {
  font-size: 14px;
}

.product_item_snippet {
  color: grey;
}
